.footer {
  height: 100px;
  background-color: #112D4E;
}

.footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.footer__github-link:hover svg {
  fill: #E23E57;
  transition: all 0.3s ease;
}

.footer__year {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__rs-link svg {
  width: 50px;
  height: 50px;
}

.footer__rs-link:hover g {
  fill: #E23E57;
  transition: all 0.3s ease;
}