.search {
    border-radius: 5px;
    width: 30%;
    height: 30px;
    padding: 0 10px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

.search:focus{
    border: 1px solid #164f94;
    transition: 0.35s ease;
    color: #164f94;
}

